# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.log

# Virtual envs
.venv/
venv/
env/
.build_venv/

# Build outputs
build/
dist/
*.spec

# PyInstaller cache
*.manifest
*.dll

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Local downloads/debug
snap_memories/

# Local ffmpeg bundle
# Ignore everything under bin/ by default, but allow ffmpeg.exe and ffprobe.exe
bin/*
!bin/ffmpeg.exe
!bin/ffprobe.exe
